<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarFruit</title>
    <link rel="stylesheet" href="./css/jass.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify -space-between align-center p-2">

            <img class="image" src="./images/EarFruit.jpeg">

            <nav class="nav-bar">
                <!-- login and logout links-->
                {{#if logged_in}}
                <a href="/profile">Profile</a>
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>

        {{#if logged_in}}
        <!-- Search form -->
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search..." />
            <button type="submit" class="search-button">Search</button>
        </form>
        {{/if}}

        <main class="main">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>© 2023 EarFruit</footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="./js/logout.js"></script>
    {{/if}}
</body>

</html>