<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EarFruit</title>
        <link rel="stylesheet" href="./css/jass.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="flex-column justify-space-around">
        <header class="display-flex justify -space-between align-center p-2">

                <img class="image" src="./images/EarFruit.jpeg">

            <nav class="nav-bar">
                <!-- login and logout links-->
                {{#if logged_in}}
                <ul><a href="./js/profile.js">Profile</a></ul>
                <ul><a href="./js/logout.js">Logout</button></ul>
                {{else}}
                <ul><a href="./js/login.js">Login</a></ul>
                {{/if}}
            </nav>
        </header>

        <main class="main">
    <!-- Render the sub layout -->
      {{{ body }}}
        </main>
        <footer>© 2023 EarFruit</footer>
        </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
    </body>

</html>