<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EarFruit Playlists</title>
        <style>
            #playlist{
                list-style: none;
            }
        #playlist li a{
            color:
            text-decoration: none;
        }
        #playlist .current-song a{
            color:green;
        }

        </style>
    </head>
    <body>
        <audio src="" controls id="audioPlayer">
            Sorry, your browser doesn't support html5!
        </audio>
        <ul id="playlist">
            <li class="current-song"><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>

            



        </ul>
        <script src="https://code.jquery.com/jquery-2.2.0.js">
        </script>
        <script>
            audioPlayer();
            function audioPlayer( {
                $("#audioPlayer") [0].src = 
            })
        </script>
    </body>















</html>